[submodule "texture-synthesis-portilla-simoncelli"]
	path = texture-synthesis-portilla-simoncelli
	url = https://github.com/TetsuyaOdaka/texture-synthesis-portilla-simoncelli.git
[submodule "clique-top"]
	path = clique-top
	url = https://github.com/nebneuron/clique-top.git
[submodule "textureSynth"]
	path = textureSynth
	url = https://github.com/LabForComputationalVision/textureSynth.git
